################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C#/20200804/PrivateConstructor/.vs/PrivateConstructor
/C#/20200804/PrivateConstructor/PrivateConstructor/bin/Debug/netcoreapp3.1
/C#/20200804/PrivateConstructor/PrivateConstructor/obj
/C#/20200811/.vs
/C#/20200811/HashsetExample/.vs/HashsetExample/v16
/C#/20200811/HashsetExample/HashsetExample/bin/Debug/netcoreapp3.1
/C#/20200811/HashsetExample/HashsetExample/obj
/C#/20200811/SortedDictionary/.vs/SortedDictionary
/C#/20200811/SortedDictionary/SortedDictionary/bin/Debug/netcoreapp3.1
/C#/20200811/SortedDictionary/SortedDictionary/obj
/C#/20200811/SortedList/.vs/SortedList/v16
/C#/20200811/SortedList/SortedList/bin/Debug/netcoreapp3.1
/C#/20200811/SortedList/SortedList/obj
/C#/20200825/CSFeatures/.vs/CSFeatures
/C#/20200825/CSFeatures/CSFeatures/bin/Debug/netcoreapp3.1
/C#/20200825/CSFeatures/CSFeatures/obj
/C#/20200825/ExceptionExample/.vs/ExceptionExample
/C#/20200825/ExceptionExample/ExceptionExample/bin/Debug/netcoreapp3.1
/C#/20200825/ExceptionExample/ExceptionExample/obj
/C#/20200825/RegExExample/.vs/RegExExample/v16
/C#/20200825/RegExExample/RegExExample/bin/Debug/netcoreapp3.1
/C#/20200825/RegExExample/RegExExample/obj
/C#/20200819/XMLExample/.vs/XMLExample/v16
/C#/20200819/XMLExample/XMLExample/bin/Debug/netcoreapp3.1
/C#/20200819/XMLExample/XMLExample/obj
/C#/20200807/CSharpIntermediate/.vs/CSharpIntermediate
/C#/20200807/CSharpIntermediate/BasicLinq/bin/Debug/netcoreapp3.1
/C#/20200807/CSharpIntermediate/BasicLinq/obj
/C#/20200819/XMLExample/.vs/XMLExample/DesignTimeBuild
/C#/20200807/CSharpIntermediate/CSharpIntermediate/bin/Debug/netcoreapp3.1
/C#/20200807/CSharpIntermediate/CSharpIntermediate/obj
/C#/20200807/CSharpIntermediate/CSharpIntermediate/.vs/CSharpIntermediate
