
    <form>
        <div class="form-group">
          <label for="id">Enter id</label>
          <input type="number" class="form-control" id="id" [(ngModel)]="id" name="id">
        </div>
        <div class="form-group">
          <label for="name">Enter name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name">
        </div>
        <div class="form-group">
          <label for="location">Enter location</label>
          <input type="text" class="form-control" id="location" [(ngModel)]="location" name="location">
        </div>
        <button type="submit" class="btn btn-primary" (click)="addEmployee()">Submit</button>
    </form> 
