<p style="color: brown;">
  <strong>Welcome To {{ title }}</strong>
</p>

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef><strong> ID</strong></th>
      <td mat-cell *matCellDef="let urlLink">{{ urlLink.id }}</td>
    </ng-container>
    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef>From</th>
      <td mat-cell *matCellDef="let urlLink">{{ urlLink.from }}</td>
    </ng-container>
    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef>To</th>
      <td mat-cell *matCellDef="let urlLink">{{ urlLink.to }}</td>
    </ng-container>
    <ng-container matColumnDef="dateCreated">
      <th mat-header-cell *matHeaderCellDef>DateCreated</th>
      <td mat-cell *matCellDef="let urlLink">
        {{ urlLink.dateCreated | date }}
      </td>
    </ng-container>
    <ng-container matColumnDef="permanentLink">
      <th mat-header-cell *matHeaderCellDef>PermanentLink</th>
      <td mat-cell *matCellDef="let urlLink">
        {{ urlLink.permanentLink ? "yes" : "no" }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator #paginator [pageSize]="2" [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
<i class="fa fa-plus-circle" style="font-size: 50px;color:indigo;margin-left:95%" (click)="openDialog()"></i>
</div>
