<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
         *ngIf="isDataLoading">
      <mat-spinner *ngIf="isDataLoading"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/employees']"><mat-icon>list</mat-icon></a>
    </div>
    <mat-card class="example-card">
      <form [formGroup]="empForm" (ngSubmit)="onFormSubmit(empForm.value)">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Employee Name" formControlName="name"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!empForm.get('name').valid && empForm.get('name').touched">Please enter Employee Name</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Designation" formControlName="designation"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!empForm.get('designation').valid && empForm.get('designation').touched">Please enter Employee Description</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Department" formControlName="department"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!empForm.get('department').valid && empForm.get('department').touched">Please enter Employee Department</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Gender" formControlName="Gender"
                   [errorStateMatcher]="matcher">
            <mat-error>
              <span *ngIf="!empForm.get('Gender').valid && empForm.get('Gender').touched">Please enter Gender</span>
            </mat-error>
          </mat-form-field>
        <div class="button-row">
          <button mat-flat-button color="primary" type="submit" [disabled]="!empForm.valid" ><mat-icon>save</mat-icon></button>
        </div>
      </form>
    </mat-card>
  </div>
