<ul class="list-group">
    <li class="list-group-item">CEO</li>
    <li class="list-group-item">
        <ul class="list-group">
            <li class="list-group-item">Director of Software Engineering</li>
            <li class="list-group-item">
                <ul class="list-group">
                    <li class="list-group-item">Head of Software Engineering</li>
                    <li class="list-group-item">                        
                        <ul class="list-group">
                            <li class="list-group-item">Tech Lead</li>
                            <li class="list-group-item">
                                <ul class="list-group">
                                    <li class="list-group-item">ASE</li>
                                    <li class="list-group-item">SE</li>
                                    <li class="list-group-item">SSE</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>